<div class="container pt-4">
    <div class="jumbotron text-center">
        <h1 class="display-4"><span style="font-size: 38px" class="text-success">Thank you</h1>
        <hr>
        <p class="lead">
            This is the end of the study. Thank you for your participation.
        </p>
    </div>
</div>