<div class="container pt-4">
    <div class="jumbotron text-center">
        <h1 class="display-4"><span style="font-size: 38px" class="text-success">Thank you</h1>
        <hr>
        <p class="lead">
            This is the end of the study, please follow this link to redeem your reward:
            <br>
            <a href="{{link}}">{{link}}
            </a>
            {{!-- //    This is the end of the study, here is your redeem code
        //</p>
        // <p style="font-size: 23px;">
        //   <span class="badge badge-pill badge-dark">
        //        {{code}}
        //    </span>
        //</p> --}}
            <p class="lead">
                Thank you for your participation.
            </p>
    </div>
</div>