<div class="container">
  <div class="py-5">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          <img src="{{images.0.url}}" style="border-radius: 50%;">
		  <br>
		  <a class="text-reset lead">(if this is not you, you can log out in the top right corner)</a>
        </div>
        <ul class="pt-3 list-group list-group-flush">
          <li class="list-group-item">
            <a class="text-reset lead"><p class="lead">Hi {{display_name}},</p>
				
				<p class="lead">
				Thank you for participating in this study. In this study we try to gain a better understanding on how music playlists should be created. During this study we will ask you to collaborate with four other people to curate songs for a 10-song playlist.
				</p><p class="lead">
				In the next step, we first gather your top 10 songs that you have listened to. We will ask you to select one song that you would like to use as your reference song. This song will be used to select songs for you and your group to curate for the playlists, as well as finding four other group members with a similar taste.
				</p><p class="lead">
				After selecting one song as a reference song, we will provide you and each of the group members the same a candidate song for the playlist to assess individually. You can indicate whether you would want this song to be added to the playlist (by selecting "yes" or "maybe yes") or not (by selecting "maybe no" or "no").
				</p><p class="lead">
				When you have provided your assessment, we wait until the whole group has given their response. Once all responses have been gathered, we will present the response of each group member <u>anonymously</u>. Within this step you are allowed to revise your initial response.
				</p><p class="lead">
				Once everybody has given their final judgment on the song, the names and the responses of each group member will be revealed. Only songs that are given an <u>unanimous</u> positive response (i.e., "yes" or "maybe yes") will be added to the playlist.
				</p><p class="lead">
				The study will end once a consensus has been reached for a playlist with 10 songs.
				</p><p class="lead">
				<b>Do not refresh or use the back button during the study. This will end the session with your group and you will need to start over.</b>
				</p><p class="lead">
				Good luck!
				</p>
			</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="pb-4">
      <a href="/questions" role="button" class="float-right btn-block btn-lg btn btn-success">Next Step</a>
    </div>
  </div>
</div>