<div class="container pt-4">
    <div class="jumbotron">
        <h1 class="display-4">Spotify personalized tracks</h1>
        <p class="lead">Getting details of a user’s top tracks requires authorization of the user-top-read
            scope.</p>
        <hr class="my-4">
        <p>Hit the Login button to login to your Spotify.</p>
        <a class="btn btn-success btn-lg" href="/login" role="button">LOG IN</a>
    </div>
</div>