<div class="container pt-4">
	<div class="jumbotron">
		<h1 class="display-4"><span style="font-size: 38px" class="text-success">Spotify <span
					class="text-dark">Playlist Creation</span></span></h1>

		<p class="lead">
			In this study we try to get a deeper understanding on how music playlists are created in groups. You will be
			asked to create a playlist with a group of people with a similar music taste. To find group members that
			match your music taste and to provide songs as suggestions for the group playlist, we ask to get access to
			your Spotify account.
		</p>
		<p class="lead">
			We expect that a playlist with 10 songs can be created with your group within 10 minutes. After that we have
			a short questionnaire to ask about your experiences.
		</p>
		<p class="lead">
			Participation is voluntary and you may withdraw at any time. All information is <u>strictly confidential</u>
			and will only be viewed by the research team. Only aggregated data on a group level will be reported in
			possible scientific publications, meaning that your identity as a participant will <u>remain confidential at
				all times</u>. All traces that could possibly reveal the identity of any participant will be
			appropriately anonymized.
		</p>
		<p class="lead">
			If you wish to take part in the study and are at least 18 years of age, please provide consent by checking
			the "I agree, continue with the study" button. By doing so, you agree to the following:
		</p>
		<p class="lead">
			I have read the above information and understand the nature and purpose of this research. I understand that
			my participation is voluntary and that I may withdraw at any time. I understand that the results of this
			study will be treated confidentially. The results will be reported only in summary form and I will not be
			identified individually.
		</p>
		<p class="lead">
			<b>Please be aware of the following: not meeting the conditions for participation will result in exclusion
				and rejection of your data. Additionally, we included mechanisms to detect fake and careless
				contributions. Detection of such will result in exclusion and rejection as well.</b>
		</p>
		<hr class="my-4">
		<a class="btn btn-success btn-lg" href="/login" role="button">I agree, continue with the study.</a>
		<br>
		<a class="btn btn-outline-secondary btn-lg"
			href="https://passback.lifepointspanel.com/Survey/Finished?ProjectToken=dcf47fc5-debd-7fcb-3c3f-ad7c4ec289e0"
			role="button">I disagree.</a>
	</div>
</div>