<div class="container pt-4">
    <div class="jumbotron">
        <h1 class="display-4"><span style="font-size: 38px" class="text-success">Spotify <span class="text-dark">Playlist Creation</span></span></h1>
			
			<p class="lead">
				In this study we try to get a deeper understanding on how music playlist can be created. In this study you will be asked to create a playlist with a group of people with a similar music taste. To match music taste with the group members and to provide songs to curate for the playlist, we ask to get access to your Spotify account. 
			</p>
			<p class="lead">
				We expect that a playlist with 10 songs can be created with your group within 10 minutes. After that we have a short questionnaire to ask about your experiences.
			</p>
			<p class="lead">
				Participation is voluntary and you may withdraw at any time. All information is <u>strictly confidential</u> and will only be viewed by the researchers. Only group data will be reported in possible publications, meaning that your identity as a participant will <u>remain confidential at all times</u>. All traces that would reveal any identity will be appropriately anonymized.
			</p>
			<p class="lead">
				If you wish to take part in the study and are at least 18 years of age, please provide consent by checking the "I agree, continue with the study" button. By doing so, you agree to the following:
			</p>
			<p class="lead">
				I have read the above information and understand the nature and purpose of this research. I understand that my participation is voluntary and that I may withdraw at any time. I understand that the results of this study will be treated confidentially. The results will be reported only in summary form and I will not be identified individually.
			</p>
			<p class="lead">
				<b>Please be aware of the following: not meeting the conditions for participation will result in exlusion and rejection of your MTurk code. Additionally, we included mechanisms to detect fake and careless contributions. Detection of such will result in exclusion and rejection as well.</b>
			</p>	
			<p class="lead">
				For further information about this study contact:
				<br>Dr. Bruce Ferwerda
				<br>Department of Computer Science and Informatics
				<br>Jönköping University, Jönköping (Sweden)
				<br><a href="mailto:bruce.ferwerda@ju.se?Subject=Study:%20Playlist%20Creation" target="_top">bruce.ferwerda@ju.se</a>
				<br><b>OR</b>				
				<br>Dr. Christine Bauer
				<br>Department of Computational Perception
				<br>Johannes Kepler University, Linz (Austria)
				<br><a href="mailto:christine.bauer@jku.at?Subject=Study:%20Playlist%20Creations" target="_top">christine.bauer@jku.at</a>
			</p>			
					
        <hr class="my-4">
        <a class="btn btn-success btn-lg" href="/login" role="button">I agree, continue with the study.</a>
    </div>
</div>