<script>
    window.addEventListener("beforeunload", function (event) {
        setCookie("haveBeen", songId)
        event.returnValue = "\o/";
        return ""
    });
    // before rendering, check if is this component reloaded
    let url = window.location.href.split('/')
    let songId = url[url.length - 1]
    console.log((getCookie("haveBeen")))
    if (getCookie("haveBeen") === songId) {
        window.location.href = '/tracks'
    }
</script>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="alertModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ooops!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="lead">
                        Please answer all questions.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-2 pb-3 d-flex bd-highlight">
        <div id="track" class="p-2 flex-grow-1 bd-highlight">
            <div class="text-center pb-3">
                <span style="font-size: 38px" class="text-success">
                    Candidate <span style="font-size: 38px" class="lead text-dark">
                        Song</span>
                </span>
                <footer align="left" class="lead text-muted">Below you will find a candidate song for the playlist. This song is chosen based on your reference song that you chose before. Indicate for the song below to what extent you would like to have this song added to the playlist. Responses of you and your group remembers will be initially shown <b><u>anonymously</u></b> in the next step.
                </footer>
            </div>
            <div>
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <img id="img" style="border-radius: 50%; height: 250px">
                            <footer class="pt-2">
                                <div id="player">
                                    <audio controls class="embed-responsive-item">
                                        <source>
                                    </audio>
                                </div>

                            </footer>
                        </div>
                        <ul class="pt-3 list-group list-group-flush">
                            <li class="list-group-item">
                                <a class="text-reset lead">Song name</a>
                                <footer><a id="trackName" class="text-muted"></a></footer>
                            </li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a class="text-reset lead">Artist Name</a>
                                <footer><a id="artistName" class="text-muted"></a></footer>
                            </li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div>
                                    <a class="text-reset lead">Do you know this artist?</a>
                                    <footer class="pt-2">
                                        <div class="row">
                                            <div class="pl-3">
                                                <button id="artistYes" type="button" class="btn btn-outline-success"
                                                    onclick="knowArtist(1)">
                                                    <i class="far fa-laugh-beam fa-lg"></i> Yes
                                                </button>
                                            </div>
                                            <div class="pl-3">
                                                <button id="artistNo" type="button" class="btn btn-outline-danger"
                                                    onclick="knowArtist(0)">
                                                    <i class="far fa-frown fa-lg"></i> No
                                                </button>
                                            </div>
                                        </div>
                                    </footer>
                                </div>
                            </li>
                        </ul>						
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div>
                                    <a class="text-reset lead">Do you know this song?</a>
                                    <footer class="pt-2">
                                        <div class="row">
                                            <div class="pl-3">
                                                <button id="songYes" type="button" class="btn btn-outline-success"
                                                    onclick="knowSong(1)">
                                                    <i class="far fa-laugh-beam fa-lg"></i> Yes
                                                </button>
                                            </div>
                                            <div class="pl-3">
                                                <button id="songNo" type="button" class="btn btn-outline-danger"
                                                    onclick="knowSong(0)">
                                                    <i class="far fa-frown fa-lg"></i> No
                                                </button>
                                            </div>
                                        </div>
                                    </footer>
                                </div>
                            </li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div>
                                    <a class="text-reset lead">Would you like this song to be added to the play
                                        list?</a>
                                    <footer class="pt-2">
                                        <div class="row">
                                            <div class="pl-3">
                                                <button id="answer4" onclick="vote(4)" class="btn btn-outline-success">
                                                    <i class="far fa-laugh-beam fa-lg"></i> Yes
                                                </button>
                                            </div>
                                            <div class="pl-3">
                                                <button id="answer3" onclick="vote(3)" class="btn btn-outline-info">
                                                    <i class="far fa-smile-wink fa-lg"></i> Maybe Yes
                                                </button>
                                            </div>
                                            <div class="pl-3">
                                                <button id="answer2" onclick="vote(2)"
                                                    class="btn btn-outline-secondary">
                                                    <i class="far fa-meh fa-lg"></i> Maybe No
                                                </button>
                                            </div>
                                            <div class="pl-3">
                                                <button id="answer1" onclick="vote(1)" class="btn btn-outline-danger">
                                                    <i class="far fa-frown fa-lg"></i> No
                                                </button>
                                            </div>
                                        </div>
                                    </footer>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div id="user" class="p-2 flex-grow-1 bd-highlight" style="display: none">

            <div class="px-5">
                <div class="text-center pb-3" id="firstHeaderText">
                    <span style="font-size: 38px" class="text-success">
                        Anonymous <span style="font-size: 38px" class="lead text-dark">
                            Group Responses</span>
                    </span>
                    <footer align="left" class="lead text-muted">The initial responses of your group members are shown
                        here. In this stage the names of <b><u>all</u></b> group members are anonymized. You are allowed to
                        change your opinion on this song for the playlist. The names and responses of all group members
                        will be revealed when the final decision has been made in the next step. 
						<br>
						<b>Remember that an unanimous decision need to be reached before a song will be added to the playlist.</b>
                    </footer>
                </div>
                <div class="text-center pb-3" id="secondHeaderText">
                    <span style="font-size: 38px" class="text-success">
                        Final <span style="font-size: 38px" class="lead text-dark">
                            Group Responses</span>
                    </span>
                    <footer align="left" class="lead text-muted">The final decision has been made! The names and
                        responses of all the group members are shown below.
                    </footer>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span id="userName1" class="lead">User #1 </span>
                        <div id="userAnswer1">

                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span id="userName2" class="lead">User #2 </span>
                        <div id="userAnswer2">

                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span id="userName3" class="lead">User #3 </span>
                        <div id="userAnswer3">

                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span id="userName4" class="lead">User #4 </span>
                        <div id="userAnswer4">

                        </div>
                    </li>

                    <li class="list-group-item">
                        <div id="repeatAnswer">
                            <a class="lead">
                                Do you want to change your rating for this song?
                            </a>
                            <footer class="pt-2">
                                <div class="row">
                                    <div class="pl-3">
                                        <button id="repeatAnswer4" onclick="finalVote(4)"
                                            class="btn btn-outline-success">
                                            <i class="far fa-laugh-beam fa-lg"></i> Yes
                                        </button>
                                    </div>
                                    <div class="pl-3">
                                        <button id="repeatAnswer3" onclick="finalVote(3)" class="btn btn-outline-info">
                                            <i class="far fa-smile-wink fa-lg"></i> Maybe Yes
                                        </button>
                                    </div>
                                    <div class="pl-3">
                                        <button id="repeatAnswer2" onclick="finalVote(2)"
                                            class="btn btn-outline-secondary">
                                            <i class="far fa-meh fa-lg"></i> Maybe No
                                        </button>
                                    </div>
                                    <div class="pl-3">
                                        <button id="repeatAnswer1" onclick="finalVote(1)"
                                            class="btn btn-outline-danger">
                                            <i class="far fa-frown fa-lg"></i> No
                                        </button>
                                    </div>
                                </div>
                            </footer>
                        </div>


                        <div id="yourAnswer" style="display:none">
                            <a class="lead">
                                Your final choice is
                            </a>
                            <footer id="yourAnswerBtn" class="pt-2">

                            </footer>

                            <div id="statusAlert" class="pt-3">

                            </div>
                        </div>
                    </li>
                </ul>


            </div>
        </div>

        <div id="playlist" class="p-2 bd-highlight">
            <div class="card" style="width: 20rem;">
                <li class="list-group-item active text-center">Playlist</li>
                <ul class="list-group list-group-flush">
                    <li id="track1" class="list-group-item">1.</li>
                    <li id="track2" class="list-group-item">2.</li>
                    <li id="track3" class="list-group-item">3.</li>
                    <li id="track4" class="list-group-item">4.</li>
                    <li id="track5" class="list-group-item">5.</li>
                    <li id="track6" class="list-group-item">6.</li>
                    <li id="track7" class="list-group-item">7.</li>
                    <li id="track8" class="list-group-item">8.</li>
                    <li id="track9" class="list-group-item">9.</li>
                    <li id="track10" class="list-group-item">10.</li>

                </ul>
            </div>
            <div class="pt-3">
                <button id="nextStep" onclick="nextStep()" class="btn-block btn-lg btn-outline-primary">Next
                    Step</button>
            </div>
        </div>

    </div>
    <div id="loading" class="text-center" style="padding-top: 20%; display: none">
        <div class="text-success">
            <div class="spinner-grow" style="width: 4rem; height: 4rem;" role="status">
            </div>
        </div>
        <div class="lead">Gathering all responses</div>
    </div>

</div>

<script>
    function showTrackById(trackId) {
        recommendationArray[arrayIndex].track_id = trackId
        recommendationArray[arrayIndex].user_id = user_id
        $.ajax({
            url: 'https://api.spotify.com/v1/tracks/' + trackId,
            headers: {
                'Authorization': 'Bearer ' + access_token
            },
            success: function (response) {
                $("#img").attr("src", response.album.images[0].url);
                $("#player").html('')
                $("#player").html("<audio controls src=" + response.preview_url + " class='embed-responsive-item'>  <source> </audio>")
                $("#trackName").text(response.name)
                $("#artistName").text(response.artists[0].name)
                $("#track").show();
                $("#user").hide();
                $("#yourAnswer").hide();
                // remove all active buttons
                $("#artistYes").removeClass("active");
                $("#artistNo").removeClass("active");
                $("#songYes").removeClass("active");
                $("#songNo").removeClass("active");
                $("#answer1").removeClass("active")
                $("#answer2").removeClass("active")
                $("#answer3").removeClass("active")
                $("#answer4").removeClass("active")
                $("#repeatAnswer1").removeClass("active")
                $("#repeatAnswer2").removeClass("active")
                $("#repeatAnswer3").removeClass("active")
                $("#repeatAnswer4").removeClass("active")
            }
        })
    }


    function shuffle(array) {
        for (var i = array.length; i > 1; i--) {
            var r = Math.floor(Math.random() * i);
            var temp = array[r];
            array[r] = array[i - 1];
            array[i - 1] = temp;
        }
    }

    let access_token = getCookie('access_token')
    let user_id = getCookie('user_id')
    let randomTracks25 = {{{ randomTracks25 }}}
    let randomTracks75 = {{{ randomTracks75 }}}
    console.log(randomTracks25)
    console.log(randomTracks75)

    let randomName = ['James', 'Kitsana', 'Wongsathorn', 'Bruce', 'Sathira', 'Wasuthun', 'Micky', 'Mond', 'Steve', 'Tom']
    let currentScore = 0

    // shuffle track arrays
    shuffle(randomTracks25)
    shuffle(randomTracks75)
    let recommendationArray = [] // data for sending to server by using jQuery POST
    let arrayIndex = 0 // index for pushing to recommendationArray
    recommendationArray[arrayIndex] = {}
    let currentStep = 0
    let playlistCount = 0
    let startRandomFrom = ""
    let yesAnswerCount = 0
    let noAnswerCount = 0
    // generate a random boolean, [0, 0.5) is starting from randomTracks25, [0.5, 1) is starting from randomTracks75.
    let random = Math.random();
    let randomTrackId = ""
    if (random >= 0.5) {
        console.log(75)
        startRandomFrom = '75'
        randomTrackId = randomTracks75.pop()
        recommendationArray[arrayIndex].list = 75
    }
    else {
        console.log(25)
        startRandomFrom = '25'
        randomTrackId = randomTracks25.pop()
        recommendationArray[arrayIndex].list = 25
    }
    // display initial track
    showTrackById(randomTrackId)

    function knowArtist(answer) {
        recommendationArray[arrayIndex].know_artist = answer
        if (answer == 1) {
            $("#artistYes").addClass("active", true);
            $("#artistNo").removeClass("active");
            console.log("CALL")
        } else {
            $("#artistNo").addClass("active", true);
            $("#artistYes").removeClass("active");
        }
    }

    function knowSong(answer) {
        recommendationArray[arrayIndex].know_song = answer
        if (answer == 1) {
            $("#songYes").addClass("active", true);
            $("#songNo").removeClass("active");
        } else {
            $("#songNo").addClass("active", true);
            $("#songYes").removeClass("active");
        }
    }

    function isCompletedStep1() {
        let answerCount = 0
        if ($("#songYes").hasClass("active")) {
            answerCount++
        }
        if ($("#songNo").hasClass("active")) {
            answerCount++
        }
        if ($("#artistYes").hasClass("active")) {
            answerCount++
        }
        if ($("#artistNo").hasClass("active")) {
            answerCount++
        }
        if ($("#answer1").hasClass("active")) {
            answerCount++
        }
        if ($("#answer2").hasClass("active")) {
            answerCount++
        }
        if ($("#answer3").hasClass("active")) {
            answerCount++
        }
        if ($("#answer4").hasClass("active")) {
            answerCount++
        }
        if (answerCount == 3) {
            return true
        }
        else {
            return false
        }
    }

    function isCompletedStep2() {
        let answerCount = 0
        if ($("#repeatAnswer1").hasClass("active")) {
            answerCount++
        }
        if ($("#repeatAnswer2").hasClass("active")) {
            answerCount++
        }
        if ($("#repeatAnswer3").hasClass("active")) {
            answerCount++
        }
        if ($("#repeatAnswer4").hasClass("active")) {
            answerCount++
        }
        if (answerCount == 1) {
            return true
        }
        else {
            return false
        }
    }

    function vote(score) {
        currentScore = score
        recommendationArray[arrayIndex].answer_a = currentScore
        if (score == 4) {
            $("#answer4").addClass("active", true);
            $("#answer3").removeClass("active");
            $("#answer2").removeClass("active");
            $("#answer1").removeClass("active");
        }
        else if (score == 3) {
            $("#answer3").addClass("active", true);
            $("#answer4").removeClass("active");
            $("#answer2").removeClass("active");
            $("#answer1").removeClass("active");
        }
        else if (score == 2) {
            $("#answer2").addClass("active", true);
            $("#answer4").removeClass("active");
            $("#answer3").removeClass("active");
            $("#answer1").removeClass("active");
        }
        else {
            $("#answer1").addClass("active", true);
            $("#answer4").removeClass("active");
            $("#answer3").removeClass("active");
            $("#answer2").removeClass("active");
        }
    }

    function finalVote(score) {
        currentScore = score
        recommendationArray[arrayIndex].answer_b = currentScore
        if (score == 4) {
            $("#repeatAnswer4").addClass("active", true);
            $("#repeatAnswer3").removeClass("active");
            $("#repeatAnswer2").removeClass("active");
            $("#repeatAnswer1").removeClass("active");
        }
        else if (score == 3) {
            $("#repeatAnswer3").addClass("active", true);
            $("#repeatAnswer4").removeClass("active");
            $("#repeatAnswer2").removeClass("active");
            $("#repeatAnswer1").removeClass("active");
        }
        else if (score == 2) {
            $("#repeatAnswer2").addClass("active", true);
            $("#repeatAnswer4").removeClass("active");
            $("#repeatAnswer3").removeClass("active");
            $("#repeatAnswer1").removeClass("active");
        }
        else {
            $("#repeatAnswer1").addClass("active", true);
            $("#repeatAnswer4").removeClass("active");
            $("#repeatAnswer3").removeClass("active");
            $("#repeatAnswer2").removeClass("active");
        }
    }

    function showLoading() {
        $("#track").hide();
        $("#user").hide();
        $("#playlist").hide();
        $("#loading").show();
        //$("#nextStep").hide();
    }

    function showAnonymousUser() {
        // if user's answer is NO or MAYBE NO
        if (currentScore == 1 || currentScore == 2)
            for (let index = 0; index < 4; index++) {
                // hide name
                $("#userName" + (index + 1)).html('User #' + (index + 1))
                // set dummy answer
                let random = Math.random();
                if (random <= 0.1) {
                    $("#userAnswer" + (index + 1)).html(maybeNoButtonHTML(false))
                    recommendationArray[arrayIndex]["bot" + index + "_a"] = 2
                }
                else if (random <= 0.1) {
                    $("#userAnswer" + (index + 1)).html(noButtonHTML(false))
                    recommendationArray[arrayIndex]["bot" + index + "_a"] = 1
                }
                else if (random <= 0.1) {
                    $("#userAnswer" + (index + 1)).html(maybeYesButtonHTML(false))
                    recommendationArray[arrayIndex]["bot" + index + "_a"] = 3
                }
                else {
                    $("#userAnswer" + (index + 1)).html(yesButtonHTML(false))
                    recommendationArray[arrayIndex]["bot" + index + "_a"] = 4
                }
            }
        // if user's answer is YES or MAYBE YES
        else {
            for (let index = 0; index < 4; index++) {
                // hide name
                $("#userName" + (index + 1)).html('User #' + (index + 1))
                // set dummy answer
                let random = Math.random();
                if (random <= 0.1) {
                    recommendationArray[arrayIndex]["bot" + index + "_a"] = 3
                    $("#userAnswer" + (index + 1)).html(maybeYesButtonHTML(false))
                }
                else if (random <= 0.3) {
                    recommendationArray[arrayIndex]["bot" + index + "_a"] = 4
                    $("#userAnswer" + (index + 1)).html(yesButtonHTML(false))
                }
                else if (random <= 0.6) {
                    recommendationArray[arrayIndex]["bot" + index + "_a"] = 2
                    $("#userAnswer" + (index + 1)).html(maybeNoButtonHTML(false))
                }
                else {
                    recommendationArray[arrayIndex]["bot" + index + "_a"] = 1
                    $("#userAnswer" + (index + 1)).html(noButtonHTML(false))
                }
            }
        }
        $("#loading").hide();
        $("#playlist").show();
        $("#user").show();
        $("#firstHeaderText").show();
        $("#secondHeaderText").hide();
        $("#repeatAnswer").show();
    }

    function showResult() {
        // add the track to playlist if user's answer is YES or MAYBE YES
        let shouldAdd = false
        if (currentScore == 3 || currentScore == 4) {
            shouldAdd = true
        }
        shuffle(randomName)
        for (let index = 0; index < 4; index++) {
            let random = Math.random();
            if (recommendationArray[arrayIndex]["bot" + index + "_a"] == 3 || recommendationArray[arrayIndex]["bot" + index + "_a"] == 4) {
                if (random >= 0.5) {
                    recommendationArray[arrayIndex]["bot" + index + "_b"] = 4
                    $("#userAnswer" + (index + 1)).html(yesButtonHTML(true))
                }
                else {
                    recommendationArray[arrayIndex]["bot" + index + "_b"] = 3
                    $("#userAnswer" + (index + 1)).html(maybeYesButtonHTML(true))
                }
            }
            else {
                shouldAdd = false
                if (random >= 0.5) {
                    recommendationArray[arrayIndex]["bot" + index + "_b"] = 1
                    $("#userAnswer" + (index + 1)).html(noButtonHTML(true))
                }
                else {
                    recommendationArray[arrayIndex]["bot" + index + "_b"] = 2
                    $("#userAnswer" + (index + 1)).html(maybeNoButtonHTML(true))
                }
            }
            // set name of dummy user
            $("#userName" + (index + 1)).html((index + 1) + '. ' + randomName[index])
        }
        let trackId = $("#trackId").text()
        let artistName = $("#artistName").text()
        let trackName = $("#trackName").text()
        if (shouldAdd) {
            addPlaylist(trackId, trackName, artistName)
            $("#statusAlert").html(addedPlaylistAlert(trackName, artistName));
        }
        else {
            $("#statusAlert").html(notAddedPlaylistAlert(trackName, artistName));
        }
        $("#loading").hide();
        $("#playlist").show();
        $("#user").show();
        $("#repeatAnswer").hide();

        if (currentScore == 3) {
            yesAnswerCount++
            $("#yourAnswerBtn").html(maybeYesButtonHTML(true));
        }
        else if (currentScore == 4) {
            yesAnswerCount++
            $("#yourAnswerBtn").html(yesButtonHTML(true));
        }
        else if (currentScore == 2) {
            noAnswerCount++
            $("#yourAnswerBtn").html(maybeNoButtonHTML(true));
        }
        else {
            noAnswerCount++
            $("#yourAnswerBtn").html(noButtonHTML(true));
        }
        $("#yourAnswer").show();
        $("#firstHeaderText").hide();
        $("#secondHeaderText").show();

        if (playlistCount == 10) {
            $("#nextStep").html('Finish');
        }
        arrayIndex++
    }

    function nextStep() {
        if (currentStep == 0) {
            if (isCompletedStep1()) {
                showLoading()
                let min = 0,
                    max = 5;
                // generate Random number between 5-10
                let rand = Math.floor(Math.random() * (max - min + 1) + min);
                recommendationArray[arrayIndex].waiting_a = rand
                setTimeout(showAnonymousUser, rand * 1000);
                currentStep++
            }
            else {
                $('#alertModel').modal('show')
            }
        }
        else if (currentStep == 1) {
            if (isCompletedStep2()) {
                showLoading()
                let min = 0,
                    max = 5;
                // generate Random number between 5-10
                let rand = Math.floor(Math.random() * (max - min + 1) + min);
                recommendationArray[arrayIndex].waiting_b = rand
                setTimeout(showResult, rand * 1000);
                currentStep++
            }
            else {
                $('#alertModel').modal('show')
            }
        }
        else if (currentStep == 2) {
            if (playlistCount == 10) {
                // send data to server
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(recommendationArray),
                    contentType: 'application/json',
                    url: '/recommendation'
                });
            }
            else if (startRandomFrom == '25') {
                recommendationArray[arrayIndex] = {}
                if (noAnswerCount >= 5) {
                    console.log("CHANGE TO 75")
                    recommendationArray[arrayIndex].list = 75
                    noAnswerCount = 0
                    yesAnswerCount = 0
                    startRandomFrom = '75'
                    showTrackById(randomTracks75.pop())
                }
                else {
                    recommendationArray[arrayIndex].list = 25
                    showTrackById(randomTracks25.pop())
                }
            }
            else {
                recommendationArray[arrayIndex] = {}
                if (yesAnswerCount >= 5) {
                    console.log("CHANGE TO 25")
                    recommendationArray[arrayIndex].list = 25
                    noAnswerCount = 0
                    yesAnswerCount = 0
                    startRandomFrom = '25'
                    showTrackById(randomTracks25.pop())
                }
                else {
                    recommendationArray[arrayIndex].list = 75
                    showTrackById(randomTracks75.pop())
                }
            }
            currentStep = 0
        }
    }

    function addPlaylist(trackId, trackName, artistName) {
        $("#track" + (playlistCount + 1)).html(`<span>${playlistCount + 1}. </span><a class="text-success">${trackName}</a><footer class="blockquote-footer"> ${artistName}</footer>`)
        playlistCount++
    }

    function noButtonHTML(isActive) {
        return `<button class="${isActive ? 'active' : 'focus'} btn btn-outline-danger"><i class="far fa-frown fa-lg"></i> No </button>`
    }

    function maybeNoButtonHTML(isActive) {
        return `<button class="${isActive ? 'active' : 'focus'} btn btn-outline-secondary"><i class="far fa-meh fa-lg"></i> Maybe No </button>`
    }
    function yesButtonHTML(isActive) {
        return `<button class="${isActive ? 'active' : 'focus'} btn btn-outline-success"><i class="far fa-laugh-beam fa-lg"></i> Yes </button>`
    }
    function maybeYesButtonHTML(isActive) {
        return `<button class="${isActive ? 'active' : 'focus'} btn btn-outline-info"><i class="far fa-smile-wink fa-lg"></i> Maybe Yes </button>`
    }
    function addedPlaylistAlert(trackName, artistName) {
        return `<div class="alert alert-success lead" role="alert">
                                    Congrats! An unanimous decision has been reached! <a class="alert-link lead">${trackName}</a> by <a class="alert-link lead">${artistName}</a> is added to the playlist.
                                </div>`
    }

    function notAddedPlaylistAlert(trackName, artistName) {
        return `<div class="alert alert-danger lead" role="alert">
                                    Not everybody agreed on this song. Hence, <a class="alert-link">${trackName}</a> by <a class="alert-link lead">${artistName}</a> is not added to the playlist.
                                </div>`
    }
</script>

<style>
    .list-group-item.active {
        background-color: #1DB954;
        border-color: #1DB954;
        color: white;
        font-weight: bold
    }
</style>